html, body {
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ROOT MOS E BLLOKO */
#root {
  min-height: 100vh;
  height: auto;
}

/* PAGE DUHET TE JETË VETËM CONTAINER */
.page {
  padding: 24px;
  font-family: Inter, Arial, sans-serif;
  background: #768eee !important;

  min-height: 100vh;
  height: auto;

  overflow: visible; /* 🔥 KRUCIAL */
}


.table-scroll {
  max-height: 523px;
  overflow: auto;
  border: 2px solid #94a3b8;
  box-shadow: 0 2px 6px rgba(0,0,0,0.04);
}

/* MOBILE */
@media (max-width: 768px) {

  .table-scroll {
    max-height: 250px;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .header,
  .row {
    min-width: 650px;
    display: grid;
    grid-template-columns: 60px 60px 100px 120px 120px;
    font-size: 11px;
  }

  .header {
    position: sticky;
    top: 0;
    background: #f1f5f9;
    z-index: 10;
  }

  .table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-inner {
    min-width: 650px; /* e mban tabelën të mos thyhet */
  }

  .chart-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .chart-inner {
    min-width: 320px;
  }
}
